html, body, #root {
    height: 100%;
  }
  
  @font-face {
    font-family: SpaceX;
    src:local("./font/spaceX.ttf");
  }
  
  .spaceX {
    font-family: SpaceX;
    color: white;
  }
  
  .title {
    font-size: 500%;
  }
  
  .launcher {
    background-image: url('../img/52807686404_c43104d3eb_o.jpg') !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
  }
  
  html, body, section {
    block-size: 100%;
  }
  
  html {
    scroll-snap-type: y mandatory;
  }
  
  section {
    scroll-snap-align: start;
    scroll-snap-stop: always;
    padding: 3rem;
    
    display: flex;
    justify-content: center;
  }
  .blur {
    backdrop-filter: blur(10px);
  }
  
  .px-15 {
    padding-left: 15em;
    padding-right: 15em;
  }
  
  .pt-15 {
    padding-top: 15em;
  }
  
  .footer-address {
    position: fixed;
    bottom: 0;
  }